Aplicacion Web/AppWeb_FrutosFrescos/AppWeb_FrutosFrescos/Service References/wsFrutos/wsFrutos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://wspack/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="wsFrutos" targetNamespace="http://wspack/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/wsFrutos/wsFrutos?xsd=1" namespace="http://wspack/" />
    </xsd:schema>
  </types>
  <message name="Login">
    <part name="parameters" element="tns:Login" />
  </message>
  <message name="LoginResponse">
    <part name="parameters" element="tns:LoginResponse" />
  </message>
  <message name="getTipoProd">
    <part name="parameters" element="tns:getTipoProd" />
  </message>
  <message name="getTipoProdResponse">
    <part name="parameters" element="tns:getTipoProdResponse" />
  </message>
  <message name="insUsuario">
    <part name="parameters" element="tns:insUsuario" />
  </message>
  <message name="insUsuarioResponse">
    <part name="parameters" element="tns:insUsuarioResponse" />
  </message>
  <message name="insProd">
    <part name="parameters" element="tns:insProd" />
  </message>
  <message name="insProdResponse">
    <part name="parameters" element="tns:insProdResponse" />
  </message>
  <message name="updUsuario">
    <part name="parameters" element="tns:updUsuario" />
  </message>
  <message name="updUsuarioResponse">
    <part name="parameters" element="tns:updUsuarioResponse" />
  </message>
  <message name="updStock">
    <part name="parameters" element="tns:updStock" />
  </message>
  <message name="updStockResponse">
    <part name="parameters" element="tns:updStockResponse" />
  </message>
  <message name="getProdById">
    <part name="parameters" element="tns:getProdById" />
  </message>
  <message name="getProdByIdResponse">
    <part name="parameters" element="tns:getProdByIdResponse" />
  </message>
  <message name="listarProducto">
    <part name="parameters" element="tns:listarProducto" />
  </message>
  <message name="listarProductoResponse">
    <part name="parameters" element="tns:listarProductoResponse" />
  </message>
  <message name="getStockByUsu">
    <part name="parameters" element="tns:getStockByUsu" />
  </message>
  <message name="getStockByUsuResponse">
    <part name="parameters" element="tns:getStockByUsuResponse" />
  </message>
  <message name="insVenta">
    <part name="parameters" element="tns:insVenta" />
  </message>
  <message name="insVentaResponse">
    <part name="parameters" element="tns:insVentaResponse" />
  </message>
  <message name="getProdByUsu">
    <part name="parameters" element="tns:getProdByUsu" />
  </message>
  <message name="getProdByUsuResponse">
    <part name="parameters" element="tns:getProdByUsuResponse" />
  </message>
  <message name="getUsuarios">
    <part name="parameters" element="tns:getUsuarios" />
  </message>
  <message name="getUsuariosResponse">
    <part name="parameters" element="tns:getUsuariosResponse" />
  </message>
  <message name="updProd">
    <part name="parameters" element="tns:updProd" />
  </message>
  <message name="updProdResponse">
    <part name="parameters" element="tns:updProdResponse" />
  </message>
  <message name="getTipoProdById">
    <part name="parameters" element="tns:getTipoProdById" />
  </message>
  <message name="getTipoProdByIdResponse">
    <part name="parameters" element="tns:getTipoProdByIdResponse" />
  </message>
  <message name="getProdByTipo">
    <part name="parameters" element="tns:getProdByTipo" />
  </message>
  <message name="getProdByTipoResponse">
    <part name="parameters" element="tns:getProdByTipoResponse" />
  </message>
  <message name="getUsuarioByRut">
    <part name="parameters" element="tns:getUsuarioByRut" />
  </message>
  <message name="getUsuarioByRutResponse">
    <part name="parameters" element="tns:getUsuarioByRutResponse" />
  </message>
  <message name="updTipoProd">
    <part name="parameters" element="tns:updTipoProd" />
  </message>
  <message name="updTipoProdResponse">
    <part name="parameters" element="tns:updTipoProdResponse" />
  </message>
  <message name="updVenta">
    <part name="parameters" element="tns:updVenta" />
  </message>
  <message name="updVentaResponse">
    <part name="parameters" element="tns:updVentaResponse" />
  </message>
  <message name="delStock">
    <part name="parameters" element="tns:delStock" />
  </message>
  <message name="delStockResponse">
    <part name="parameters" element="tns:delStockResponse" />
  </message>
  <message name="insTipoProd">
    <part name="parameters" element="tns:insTipoProd" />
  </message>
  <message name="insTipoProdResponse">
    <part name="parameters" element="tns:insTipoProdResponse" />
  </message>
  <message name="getVentaById">
    <part name="parameters" element="tns:getVentaById" />
  </message>
  <message name="getVentaByIdResponse">
    <part name="parameters" element="tns:getVentaByIdResponse" />
  </message>
  <message name="delTipoProd">
    <part name="parameters" element="tns:delTipoProd" />
  </message>
  <message name="delTipoProdResponse">
    <part name="parameters" element="tns:delTipoProdResponse" />
  </message>
  <message name="insStock">
    <part name="parameters" element="tns:insStock" />
  </message>
  <message name="insStockResponse">
    <part name="parameters" element="tns:insStockResponse" />
  </message>
  <message name="delProd">
    <part name="parameters" element="tns:delProd" />
  </message>
  <message name="delProdResponse">
    <part name="parameters" element="tns:delProdResponse" />
  </message>
  <message name="delUsuario">
    <part name="parameters" element="tns:delUsuario" />
  </message>
  <message name="delUsuarioResponse">
    <part name="parameters" element="tns:delUsuarioResponse" />
  </message>
  <message name="ListarTipoUsuario">
    <part name="parameters" element="tns:ListarTipoUsuario" />
  </message>
  <message name="ListarTipoUsuarioResponse">
    <part name="parameters" element="tns:ListarTipoUsuarioResponse" />
  </message>
  <message name="getUsuariosByTipoProd">
    <part name="parameters" element="tns:getUsuariosByTipoProd" />
  </message>
  <message name="getUsuariosByTipoProdResponse">
    <part name="parameters" element="tns:getUsuariosByTipoProdResponse" />
  </message>
  <message name="getUsuariosByTipo">
    <part name="parameters" element="tns:getUsuariosByTipo" />
  </message>
  <message name="getUsuariosByTipoResponse">
    <part name="parameters" element="tns:getUsuariosByTipoResponse" />
  </message>
  <message name="getTipoUsuarioByTipo">
    <part name="parameters" element="tns:getTipoUsuarioByTipo" />
  </message>
  <message name="getTipoUsuarioByTipoResponse">
    <part name="parameters" element="tns:getTipoUsuarioByTipoResponse" />
  </message>
  <message name="RecuperarContrasena">
    <part name="parameters" element="tns:RecuperarContrasena" />
  </message>
  <message name="RecuperarContrasenaResponse">
    <part name="parameters" element="tns:RecuperarContrasenaResponse" />
  </message>
  <message name="ListarVentasByVendedor">
    <part name="parameters" element="tns:ListarVentasByVendedor" />
  </message>
  <message name="ListarVentasByVendedorResponse">
    <part name="parameters" element="tns:ListarVentasByVendedorResponse" />
  </message>
  <message name="ListarVentasByComprador">
    <part name="parameters" element="tns:ListarVentasByComprador" />
  </message>
  <message name="ListarVentasByCompradorResponse">
    <part name="parameters" element="tns:ListarVentasByCompradorResponse" />
  </message>
  <portType name="wsFrutos">
    <operation name="Login">
      <input wsam:Action="http://wspack/wsFrutos/LoginRequest" message="tns:Login" />
      <output wsam:Action="http://wspack/wsFrutos/LoginResponse" message="tns:LoginResponse" />
    </operation>
    <operation name="getTipoProd">
      <input wsam:Action="http://wspack/wsFrutos/getTipoProdRequest" message="tns:getTipoProd" />
      <output wsam:Action="http://wspack/wsFrutos/getTipoProdResponse" message="tns:getTipoProdResponse" />
    </operation>
    <operation name="insUsuario">
      <input wsam:Action="http://wspack/wsFrutos/insUsuarioRequest" message="tns:insUsuario" />
      <output wsam:Action="http://wspack/wsFrutos/insUsuarioResponse" message="tns:insUsuarioResponse" />
    </operation>
    <operation name="insProd">
      <input wsam:Action="http://wspack/wsFrutos/insProdRequest" message="tns:insProd" />
      <output wsam:Action="http://wspack/wsFrutos/insProdResponse" message="tns:insProdResponse" />
    </operation>
    <operation name="updUsuario">
      <input wsam:Action="http://wspack/wsFrutos/updUsuarioRequest" message="tns:updUsuario" />
      <output wsam:Action="http://wspack/wsFrutos/updUsuarioResponse" message="tns:updUsuarioResponse" />
    </operation>
    <operation name="updStock">
      <input wsam:Action="http://wspack/wsFrutos/updStockRequest" message="tns:updStock" />
      <output wsam:Action="http://wspack/wsFrutos/updStockResponse" message="tns:updStockResponse" />
    </operation>
    <operation name="getProdById">
      <input wsam:Action="http://wspack/wsFrutos/getProdByIdRequest" message="tns:getProdById" />
      <output wsam:Action="http://wspack/wsFrutos/getProdByIdResponse" message="tns:getProdByIdResponse" />
    </operation>
    <operation name="listarProducto">
      <input wsam:Action="http://wspack/wsFrutos/listarProductoRequest" message="tns:listarProducto" />
      <output wsam:Action="http://wspack/wsFrutos/listarProductoResponse" message="tns:listarProductoResponse" />
    </operation>
    <operation name="getStockByUsu">
      <input wsam:Action="http://wspack/wsFrutos/getStockByUsuRequest" message="tns:getStockByUsu" />
      <output wsam:Action="http://wspack/wsFrutos/getStockByUsuResponse" message="tns:getStockByUsuResponse" />
    </operation>
    <operation name="insVenta">
      <input wsam:Action="http://wspack/wsFrutos/insVentaRequest" message="tns:insVenta" />
      <output wsam:Action="http://wspack/wsFrutos/insVentaResponse" message="tns:insVentaResponse" />
    </operation>
    <operation name="getProdByUsu">
      <input wsam:Action="http://wspack/wsFrutos/getProdByUsuRequest" message="tns:getProdByUsu" />
      <output wsam:Action="http://wspack/wsFrutos/getProdByUsuResponse" message="tns:getProdByUsuResponse" />
    </operation>
    <operation name="getUsuarios">
      <input wsam:Action="http://wspack/wsFrutos/getUsuariosRequest" message="tns:getUsuarios" />
      <output wsam:Action="http://wspack/wsFrutos/getUsuariosResponse" message="tns:getUsuariosResponse" />
    </operation>
    <operation name="updProd">
      <input wsam:Action="http://wspack/wsFrutos/updProdRequest" message="tns:updProd" />
      <output wsam:Action="http://wspack/wsFrutos/updProdResponse" message="tns:updProdResponse" />
    </operation>
    <operation name="getTipoProdById">
      <input wsam:Action="http://wspack/wsFrutos/getTipoProdByIdRequest" message="tns:getTipoProdById" />
      <output wsam:Action="http://wspack/wsFrutos/getTipoProdByIdResponse" message="tns:getTipoProdByIdResponse" />
    </operation>
    <operation name="getProdByTipo">
      <input wsam:Action="http://wspack/wsFrutos/getProdByTipoRequest" message="tns:getProdByTipo" />
      <output wsam:Action="http://wspack/wsFrutos/getProdByTipoResponse" message="tns:getProdByTipoResponse" />
    </operation>
    <operation name="getUsuarioByRut">
      <input wsam:Action="http://wspack/wsFrutos/getUsuarioByRutRequest" message="tns:getUsuarioByRut" />
      <output wsam:Action="http://wspack/wsFrutos/getUsuarioByRutResponse" message="tns:getUsuarioByRutResponse" />
    </operation>
    <operation name="updTipoProd">
      <input wsam:Action="http://wspack/wsFrutos/updTipoProdRequest" message="tns:updTipoProd" />
      <output wsam:Action="http://wspack/wsFrutos/updTipoProdResponse" message="tns:updTipoProdResponse" />
    </operation>
    <operation name="updVenta">
      <input wsam:Action="http://wspack/wsFrutos/updVentaRequest" message="tns:updVenta" />
      <output wsam:Action="http://wspack/wsFrutos/updVentaResponse" message="tns:updVentaResponse" />
    </operation>
    <operation name="delStock">
      <input wsam:Action="http://wspack/wsFrutos/delStockRequest" message="tns:delStock" />
      <output wsam:Action="http://wspack/wsFrutos/delStockResponse" message="tns:delStockResponse" />
    </operation>
    <operation name="insTipoProd">
      <input wsam:Action="http://wspack/wsFrutos/insTipoProdRequest" message="tns:insTipoProd" />
      <output wsam:Action="http://wspack/wsFrutos/insTipoProdResponse" message="tns:insTipoProdResponse" />
    </operation>
    <operation name="getVentaById">
      <input wsam:Action="http://wspack/wsFrutos/getVentaByIdRequest" message="tns:getVentaById" />
      <output wsam:Action="http://wspack/wsFrutos/getVentaByIdResponse" message="tns:getVentaByIdResponse" />
    </operation>
    <operation name="delTipoProd">
      <input wsam:Action="http://wspack/wsFrutos/delTipoProdRequest" message="tns:delTipoProd" />
      <output wsam:Action="http://wspack/wsFrutos/delTipoProdResponse" message="tns:delTipoProdResponse" />
    </operation>
    <operation name="insStock">
      <input wsam:Action="http://wspack/wsFrutos/insStockRequest" message="tns:insStock" />
      <output wsam:Action="http://wspack/wsFrutos/insStockResponse" message="tns:insStockResponse" />
    </operation>
    <operation name="delProd">
      <input wsam:Action="http://wspack/wsFrutos/delProdRequest" message="tns:delProd" />
      <output wsam:Action="http://wspack/wsFrutos/delProdResponse" message="tns:delProdResponse" />
    </operation>
    <operation name="delUsuario">
      <input wsam:Action="http://wspack/wsFrutos/delUsuarioRequest" message="tns:delUsuario" />
      <output wsam:Action="http://wspack/wsFrutos/delUsuarioResponse" message="tns:delUsuarioResponse" />
    </operation>
    <operation name="ListarTipoUsuario">
      <input wsam:Action="http://wspack/wsFrutos/ListarTipoUsuarioRequest" message="tns:ListarTipoUsuario" />
      <output wsam:Action="http://wspack/wsFrutos/ListarTipoUsuarioResponse" message="tns:ListarTipoUsuarioResponse" />
    </operation>
    <operation name="getUsuariosByTipoProd">
      <input wsam:Action="http://wspack/wsFrutos/getUsuariosByTipoProdRequest" message="tns:getUsuariosByTipoProd" />
      <output wsam:Action="http://wspack/wsFrutos/getUsuariosByTipoProdResponse" message="tns:getUsuariosByTipoProdResponse" />
    </operation>
    <operation name="getUsuariosByTipo">
      <input wsam:Action="http://wspack/wsFrutos/getUsuariosByTipoRequest" message="tns:getUsuariosByTipo" />
      <output wsam:Action="http://wspack/wsFrutos/getUsuariosByTipoResponse" message="tns:getUsuariosByTipoResponse" />
    </operation>
    <operation name="getTipoUsuarioByTipo">
      <input wsam:Action="http://wspack/wsFrutos/getTipoUsuarioByTipoRequest" message="tns:getTipoUsuarioByTipo" />
      <output wsam:Action="http://wspack/wsFrutos/getTipoUsuarioByTipoResponse" message="tns:getTipoUsuarioByTipoResponse" />
    </operation>
    <operation name="RecuperarContrasena">
      <input wsam:Action="http://wspack/wsFrutos/RecuperarContrasenaRequest" message="tns:RecuperarContrasena" />
      <output wsam:Action="http://wspack/wsFrutos/RecuperarContrasenaResponse" message="tns:RecuperarContrasenaResponse" />
    </operation>
    <operation name="ListarVentasByVendedor">
      <input wsam:Action="http://wspack/wsFrutos/ListarVentasByVendedorRequest" message="tns:ListarVentasByVendedor" />
      <output wsam:Action="http://wspack/wsFrutos/ListarVentasByVendedorResponse" message="tns:ListarVentasByVendedorResponse" />
    </operation>
    <operation name="ListarVentasByComprador">
      <input wsam:Action="http://wspack/wsFrutos/ListarVentasByCompradorRequest" message="tns:ListarVentasByComprador" />
      <output wsam:Action="http://wspack/wsFrutos/ListarVentasByCompradorResponse" message="tns:ListarVentasByCompradorResponse" />
    </operation>
  </portType>
  <binding name="wsFrutosPortBinding" type="tns:wsFrutos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTipoProd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insProd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getProdById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getStockByUsu">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getProdByUsu">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updProd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTipoProdById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getProdByTipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUsuarioByRut">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updTipoProd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="delStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insTipoProd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getVentaById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="delTipoProd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="delProd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="delUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarTipoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUsuariosByTipoProd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUsuariosByTipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTipoUsuarioByTipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RecuperarContrasena">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarVentasByVendedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarVentasByComprador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wsFrutos">
    <port name="wsFrutosPort" binding="tns:wsFrutosPortBinding">
      <soap:address location="http://localhost:8080/wsFrutos/wsFrutos" />
    </port>
  </service>
</definitions>